.wrapper {
  width: 100%;
  height: 600px;
  position: relative;
}

.middle-separator {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--color-divider);
}
